In [1]:
#!pip install h2o
import pandas as pd
import h2o
from h2o.automl import H2OAutoML
from benchmark_utils import timer

In [2]:
h2o.init()
X_train = h2o.import_file('../datasets/taxi-fare/train.csv',header=1)
X_test = h2o.import_file('../datasets/taxi-fare/test.csv',header=1)

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
  Java Version: openjdk version "1.8.0_152-release"; OpenJDK Runtime Environment (build 1.8.0_152-release-1056-b12); OpenJDK 64-Bit Server VM (build 25.152-b12, mixed mode)
  Starting server from /home/midas/anaconda3/envs/automl-3.7/lib/python3.7/site-packages/h2o/backend/bin/h2o.jar
  Ice root: /home/midas/disk2/sette/git/automl-notebooks-benchmark/regression/taxi-fare/tmpipy6d607
  JVM stdout: /home/midas/disk2/sette/git/automl-notebooks-benchmark/regression/taxi-fare/tmpipy6d607/h2o_midas_started_from_python.out
  JVM stderr: /home/midas/disk2/sette/git/automl-notebooks-benchmark/regression/taxi-fare/tmpipy6d607/h2o_midas_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ---------------------------------------------------------
H2O cluster uptime:         00 secs
H2O cluster timezone:       America/Sao_Paulo
H2O data parsing timezone:  UTC
H2O cluster version:        3.26.0.5
H2O cluster version age:    1 month and 25 days
H2O cluster name:           H2O_from_python_midas_dni6gj
H2O cluster total nodes:    1
H2O cluster free memory:    26.67 Gb
H2O cluster total cores:    20
H2O cluster allowed cores:  20
H2O cluster status:         accepting new members, healthy
H2O connection url:         http://127.0.0.1:54321
H2O connection proxy:
H2O internal security:      False
H2O API Extensions:         Amazon S3, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python version:             3.7.4 final
--------------------------  ---------------------------------------------------------

Parse progress: |█████████████████████████████████████████████████████████| 100%
Parse progress: |█████████████████████████████████████████████████████████| 100%

In [3]:
X_train.head()

key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
2009-06-15 17:26:21,4.5,2009-06-15 17:26:21 UTC,-73.8443,40.7213,-73.8416,40.7123,1
2010-01-05 16:52:16,16.9,2010-01-05 16:52:16 UTC,-74.016,40.7113,-73.9793,40.782,1
2011-08-18 00:35:00,5.7,2011-08-18 00:35:00 UTC,-73.9827,40.7613,-73.9912,40.7506,2
2012-04-21 04:30:42,7.7,2012-04-21 04:30:42 UTC,-73.9871,40.7331,-73.9916,40.7581,1
2010-03-09 07:51:00,5.3,2010-03-09 07:51:00 UTC,-73.9681,40.768,-73.9567,40.7838,1
2011-01-06 09:50:45,12.1,2011-01-06 09:50:45 UTC,-74.001,40.7316,-73.9729,40.7582,1
2012-11-20 20:35:00,7.5,2012-11-20 20:35:00 UTC,-73.98,40.7517,-73.9738,40.7648,1
2012-01-04 17:22:00,16.5,2012-01-04 17:22:00 UTC,-73.9513,40.7741,-73.9901,40.751,1
2012-12-03 13:10:00,9,2012-12-03 13:10:00 UTC,-74.0065,40.7267,-73.9931,40.7316,1
2009-09-02 01:11:00,8.9,2009-09-02 01:11:00 UTC,-73.9807,40.7339,-73.9915,40.7581,2

In [4]:
X_test.head()

key,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
2015-01-27 13:08:24,2015-01-27 13:08:24 UTC,-73.9733,40.7638,-73.9814,40.7438,1
2015-01-27 13:08:24,2015-01-27 13:08:24 UTC,-73.9869,40.7194,-73.9989,40.7392,1
2011-10-08 11:53:44,2011-10-08 11:53:44 UTC,-73.9825,40.7513,-73.9797,40.7461,1
2012-12-01 21:12:12,2012-12-01 21:12:12 UTC,-73.9812,40.7678,-73.9904,40.7516,1
2012-12-01 21:12:12,2012-12-01 21:12:12 UTC,-73.966,40.7898,-73.9886,40.7444,1
2012-12-01 21:12:12,2012-12-01 21:12:12 UTC,-73.961,40.7655,-73.9792,40.7401,1
2011-10-06 12:10:20,2011-10-06 12:10:20 UTC,-73.949,40.7732,-73.9596,40.7709,1
2011-10-06 12:10:20,2011-10-06 12:10:20 UTC,-73.7773,40.6466,-73.9851,40.7594,1
2011-10-06 12:10:20,2011-10-06 12:10:20 UTC,-74.0141,40.7096,-73.9951,40.7414,1
2014-02-18 15:22:20,2014-02-18 15:22:20 UTC,-73.9696,40.7655,-73.9807,40.7707,1

## Treinamento

In [5]:
start_time = timer(None)

x = X_train.columns
y = "fare_amount"


# (limited to 1 hour max runtime by default)
aml = H2OAutoML()
aml.train(x=x, y=y, training_frame=X_train)
time = timer(start_time)

AutoML progress: |████████████████████████████████████████████████████████| 100%

In [6]:
print(time)

 Time taken: 1 hours 2 minutes and 52.6 seconds.

In [7]:
# View the AutoML Leaderboard
lb = aml.leaderboard
lb.head(rows=lb.nrows)  # Print all rows instead of default (10 rows)

model_id,mean_residual_deviance,rmse,mse,mae,rmsle
StackedEnsemble_BestOfFamily_AutoML_20191111_121217,423.814,20.5868,423.814,5.89212,nan
StackedEnsemble_AllModels_AutoML_20191111_121217,423.814,20.5868,423.814,5.89212,nan
DRF_1_AutoML_20191111_121217,425.329,20.6235,425.329,5.91743,nan
GBM_1_AutoML_20191111_121217,426.249,20.6458,426.249,5.93728,nan
GLM_grid_1_AutoML_20191111_121217_model_1,427.526,20.6767,427.526,5.96896,nan

In [8]:
# The leader model is stored here
aml.leader

Model Details
=============
H2OStackedEnsembleEstimator :  Stacked Ensemble
Model Key:  StackedEnsemble_BestOfFamily_AutoML_20191111_121217

No model summary for this model

ModelMetricsRegressionGLM: stackedensemble
** Reported on train data. **

MSE: 423.5143128335753
RMSE: 20.579463375743675
MAE: 5.887235573661244
RMSLE: NaN
R^2: 0.012645766398249547
Mean Residual Deviance: 423.5143128335753
Null degrees of freedom: 55423855
Residual degrees of freedom: 55423854
Null deviance: 23773429524.649094
Residual deviance: 23472796288.42703
AIC: 492522127.95047736

ModelMetricsRegressionGLM: stackedensemble
** Reported on cross-validation data. **

MSE: 423.8144811866912
RMSE: 20.58675499409004
MAE: 5.892121206080109
RMSLE: NaN
R^2: 0.011945973060777604
Mean Residual Deviance: 423.8144811866912
Null degrees of freedom: 55423855
Residual degrees of freedom: 55423854
Null deviance: 23773430361.528778
Residual deviance: 23489432776.005882
AIC: 492561396.0324597

In [14]:
preds = aml.leader.predict(X_test)
print(preds)

stackedensemble prediction progress: |████████████████████████████████████| 100%

predict
13.2564
13.2397
9.74985
13.236
13.236
13.236
9.74985
9.74985
9.74985
13.2061

In [16]:
h2o.save_model(aml.leader, path = "Taxi_fare_h2o")

'/home/midas/disk2/sette/git/automl-notebooks-benchmark/regression/taxi-fare/Taxi_fare_h2o/StackedEnsemble_BestOfFamily_AutoML_20191111_121217'

In [25]:
print(time)
id_test = pd.read_csv("../datasets/taxi-fare/test.csv")['key']
print(id_test)
preds_final = preds.as_data_frame()["predict"]

print(preds)

 Time taken: 1 hours 2 minutes and 52.6 seconds.
0       2015-01-27 13:08:24.0000002
1       2015-01-27 13:08:24.0000003
2       2011-10-08 11:53:44.0000002
3       2012-12-01 21:12:12.0000002
4       2012-12-01 21:12:12.0000003
                   ...
9909    2015-05-10 12:37:51.0000002
9910    2015-01-12 17:05:51.0000001
9911    2015-04-19 20:44:15.0000001
9912    2015-01-31 01:05:19.0000005
9913    2015-01-18 14:06:23.0000006
Name: key, Length: 9914, dtype: object

predict
13.2564
13.2397
9.74985
13.236
13.236
13.236
9.74985
9.74985
9.74985
13.2061

In [26]:
submission = pd.DataFrame({
        "key": id_test,
        "fare_amount": preds_final
    })

submission.to_csv("../submit_files/taxi_fare_h2o_submission.csv", index=False)