In [2]:
#!pip install hpsklearn
import pandas as pd
from hpsklearn import HyperoptEstimator
from benchmark_utils import timer

WARN: OMP_NUM_THREADS=None =>
... If you are using openblas if you are using openblas set OMP_NUM_THREADS=1 or risk subprocess calls hanging indefinitely

/home/midas/anaconda3/envs/automl-3.7/lib/python3.7/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [3]:
X_train = pd.read_csv("../datasets/santander-customer/train.csv")
X_test = pd.read_csv("../datasets/santander-customer/test.csv")

y_train = pd.to_numeric(X_train['target'])
# Drop id and target from train frame
X_train.drop(columns=['target','ID_code'],inplace=True)
## Copy test id's and drop id from test frame
id_test = X_test.ID_code
X_test.drop(columns=['ID_code'],inplace=True)

In [4]:
X_train.head()

,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,8.9255,-6.7863,11.9081,5.0930,11.4607,-9.2834,5.1187,18.6266,-4.9200,5.7470,...,4.4354,3.9642,3.1364,1.6910,18.5227,-2.3978,7.8784,8.5635,12.7803,-1.0914
1,11.5006,-4.1473,13.8588,5.3890,12.3622,7.0433,5.6208,16.5338,3.1468,8.0851,...,7.6421,7.7214,2.5837,10.9516,15.4305,2.0339,8.1267,8.7889,18.3560,1.9518
2,8.6093,-2.7457,12.0805,7.8928,10.5825,-9.0837,6.9427,14.6155,-4.9193,5.9525,...,2.9057,9.7905,1.6704,1.6858,21.6042,3.1417,-6.5213,8.2675,14.7222,0.3965
3,11.0604,-2.1518,8.9522,7.1957,12.5846,-1.8361,5.8428,14.9250,-5.8609,8.2450,...,4.4666,4.7433,0.7178,1.4214,23.0347,-1.2706,-2.9275,10.2922,17.9697,-8.9996
4,9.8369,-1.4834,12.8746,6.6375,12.2772,2.4486,5.9405,19.2514,6.2654,7.6784,...,-1.4905,9.5214,-0.1508,9.1942,13.2876,-1.5121,3.9267,9.5031,17.9974,-8.8104

## Treinamento

In [ ]:
hp = HyperoptEstimator()
start_time = timer(None)
hp.fit(X_train.as_matrix(),y_train.as_matrix())
time = timer(start_time)
preds = hp.predict(X_test.as_matrix())

/home/midas/anaconda3/envs/automl-3.7/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  This is separate from the ipykernel package so we can avoid doing imports until

  0%|          | 0/1 [00:00<?, ?it/s, best loss: ?]

In [ ]:
preds = hp.predict(X_test.as_matrix())
print(preds)

In [ ]:
print(time)

In [ ]:
submission = pd.DataFrame({
        "id": id_test,
        "target": preds
    })

submission.to_csv("submit_files/santander_customer_hp_submission.csv", index=False)