In [1]:
#!pip install tpot
import pandas as pd
from tpot import TPOTRegressor
from benchmark_utils import timer

In [2]:
X_train = pd.read_csv("../datasets/santander-value/train.csv")
X_test = pd.read_csv("../datasets/santander-value/test.csv")

In [3]:
X_train.head()

,ID,target,48df886f9,0deb4b6a8,34b15f335,a8cb14b00,2f0771a37,30347e683,d08d1fbe3,6ee66e115,...,3ecc09859,9281abeea,8675bec0b,3a13ed79a,f677d4d13,71b203550,137efaa80,fb36b89d9,7e293fbaf,9fc776466
0,000d6aaf2,38000000.0,0.0,0,0.0,0,0,0,0,0,...,0.0,0.0,0.0,0,0,0,0,0,0,0
1,000fbd867,600000.0,0.0,0,0.0,0,0,0,0,0,...,0.0,0.0,0.0,0,0,0,0,0,0,0
2,0027d6b71,10000000.0,0.0,0,0.0,0,0,0,0,0,...,0.0,0.0,0.0,0,0,0,0,0,0,0
3,0028cbf45,2000000.0,0.0,0,0.0,0,0,0,0,0,...,0.0,0.0,0.0,0,0,0,0,0,0,0
4,002a68644,14400000.0,0.0,0,0.0,0,0,0,0,0,...,0.0,0.0,0.0,0,0,0,0,0,0,0

In [2]:

## Change target dtype 
y_train = pd.to_numeric(X_train['target'])
# Drop id and target from train frame
X_train.drop(columns=['target','ID'],inplace=True)
## Copy test id's and drop id from test frame
id_test = X_test.ID
X_test.drop(columns=['ID'],inplace=True)

In [3]:
X_train.head()

,48df886f9,0deb4b6a8,34b15f335,a8cb14b00,2f0771a37,30347e683,d08d1fbe3,6ee66e115,20aa07010,dc5a8f1d8,...,3ecc09859,9281abeea,8675bec0b,3a13ed79a,f677d4d13,71b203550,137efaa80,fb36b89d9,7e293fbaf,9fc776466
0,0.0,0,0.0,0,0,0,0,0,0.0,0.0,...,0.0,0.0,0.0,0,0,0,0,0,0,0
1,0.0,0,0.0,0,0,0,0,0,2200000.0,0.0,...,0.0,0.0,0.0,0,0,0,0,0,0,0
2,0.0,0,0.0,0,0,0,0,0,0.0,0.0,...,0.0,0.0,0.0,0,0,0,0,0,0,0
3,0.0,0,0.0,0,0,0,0,0,0.0,0.0,...,0.0,0.0,0.0,0,0,0,0,0,0,0
4,0.0,0,0.0,0,0,0,0,0,2000000.0,0.0,...,0.0,0.0,0.0,0,0,0,0,0,0,0

## Treinamento

In [4]:
start_time = timer(None)
tp = TPOTRegressor(generations=5, population_size=50, random_state=42, verbosity=2)

tp.fit(X_train, y_train)
time = timer(start_time)

HBox(children=(IntProgress(value=0, description='Optimization Progress', max=300, style=ProgressStyle(descriptâ€¦

Generation 1 - Current best internal CV score: -49599085910904.47
Generation 2 - Current best internal CV score: -48921138943803.4
Generation 3 - Current best internal CV score: -48921138943803.4
Generation 4 - Current best internal CV score: -48921138943803.4
Generation 5 - Current best internal CV score: -48921138943803.4

Best pipeline: RandomForestRegressor(input_matrix, bootstrap=True, max_features=0.35000000000000003, min_samples_leaf=9, min_samples_split=2, n_estimators=100)

In [5]:
tp.export('tpot_pipeline_santander_value.py')
preds = tp.predict(X_test)
print(preds)
print(time)

[5869012.82058855 4150526.72971739 7192893.95814355 ... 5656409.76273093
 1185777.96208473 4178091.08421883]

 Time taken: 13 hours 1 minutes and 54.5 seconds.

In [ ]:
help(tp)

In [ ]:
train_preds = [0.736,
0.74,
0.76,
0.76,
0.764,
0.764,
0.764,
0.764,
0.764,
0.768,
0.768,
0.768,
0.768,
0.768,
0.768,
0.764,
0.764,
0.764,
0.764,
0.784,
0.784,
0.784,
0.784,
0.792,
0.792,
0.792,
0.792,
0.792,
0.792,
0.792,
0.792,
0.792,
0.792,
0.792,
0.792,
0.792,
0.792,
0.792,
0.792,
0.792,
0.792,
0.792,
0.792,
0.792,
0.792,
0.792,
0.792,
0.792,
0.792,
0.792,
]

generations = [i for i in range(1,51)]

In [ ]:
!pip install seaborn
import seaborn as sns; sns.set()
import matplotlib.pyplot as plt

In [ ]:
ax = sns.lineplot(x=generations, y=train_preds)

In [ ]:
print(time)

In [6]:
submission = pd.DataFrame({
        "id": id_test,
        "target": preds
    })

submission.to_csv("../submit_files/santander_value_tpot_submission.csv", index=False)